*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas: "image  slider" "image sidebar ";
  height: 100vh;
  width: 100vw;
  background-color: #555555;
}

.image {
  grid-area: image;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(https://images.unsplash.com/photo-1650499042754-da2b09dcc79d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1934&q=80);
  width: 100%;
  height: 100%;
}

.sidebar {
  grid-area: sidebar;
  background-color: hsl(265, 100%, 86%);
  border-left: 1px solid hsl(265, 100%, 56%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebaritem {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: hsl(265, 100%, 86%);
  padding: 1rem;
  position: relative;
  transition: background-color 0.2s ease-in-out;
}
.sidebaritem:hover,
.sidebaritem:focus {
  background-color: hsl(265, 100%, 76%);
}

.sidebaritem.active {
  background-color: hsl(265, 100%, 70%);
}

.sidebaritem:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: hsl(265, 100%, 46%);
}

.slidercontainer {
  grid-area: slider;
  background-color: bisque;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 100%;
  cursor: pointer;
}

.slidervalue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-areas: "image" "slider" "sidebar";
    height: 100vh;
    width: 100vw;
    background-color: #555555;
    overflow: hidden;
  }
  .image {
    grid-area: image;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1650499042754-da2b09dcc79d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1934&q=80);
  }

  .sidebar {
    grid-area: sidebar;
    background-color: hsl(265, 100%, 86%);
    border-left: 1px solid hsl(265, 100%, 56%);
    display: flex;
    flex-direction: column;
  }

  .sidebaritem {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: hsl(265, 100%, 86%);
    padding: 1rem;
    position: relative;
    font-size: 0.75rem;
    transition: background-color 0.2s ease-in-out;
  }
  input {
    font-size: 0.75rem;
    width: 100%;
  }
}
